<button (click)="logout()">Logout</button>

<h1 appColorChange>This is done using Custom Directive</h1>
<section *ngIf="results">
  <h1>RxJS Operators</h1>

  <div>
    <h2>filter (filter out valid searches)</h2>
    <p>{{ results.filtered }}</p>
  </div>
  <div>
    <h2>map (bring out menus of all these valid searches)</h2>
    <p>{{ results.mapped }}</p>
  </div>

  <div>
    <h2>switchMap (bring out menus of all these valid searches)</h2>
    <p>{{ results.switchMap }}</p>
  </div>

  <div>
    <h2>mergeMap (bring out menus of all these valid searches)</h2>
    <p>{{ results.mergeMap }}</p>
  </div>

  <div>
    <h2>concatMap (bring out menus of all these valid searches)</h2>
    <p>{{ results.concatMap }}</p>
  </div>

  <div>
    <h2>take</h2>
    <p>{{ results.take }}</p>
  </div>

  <div>
    <h2>forkJoin</h2>
    <p>{{ results.forkJoin | json }}</p>
  </div>

  <div>
    <h2>combineLatest</h2>
    <p>{{ results.combineLatest }}</p>
  </div>
</section>

<div class="animation-div">
  <div
    [@blueAndRed]="color"
    class="animation"
    style="width: 500px; height: 500px; background-color: black"
  ></div>
  <button (click)="setColor('red')">Red</button>
  <button (click)="setColor('blue')">Blue</button>
</div>
<div>
  <h1>Component Communication</h1>
  <input type="text" (input)="updateParentValue($event)" />
  <p>Child Value using Output: {{ childValueUsingOutput }}</p>

  <app-child
    [name]="parentInput"
    (nameToParent)="updateChildValue($event)"
  ></app-child>
</div>

<div>
  <h1>Route Based filteration</h1>

  <select id="city" (change)="setData('city', $event)">
    <option selected hidden></option>
    <option *ngFor="let option of options.cities" [value]="getCity(option)">
      {{ option }}
    </option>
  </select>

  <select
    id="type"
    *ngIf="filterationData.city"
    (change)="setData('type', $event)"
  >
    <option selected hidden></option>
    <option *ngFor="let option of options.types" [value]="option">
      {{ option }}
    </option>
  </select>
  <select
    id="type"
    *ngIf="filterationData.city && filterationData.type"
    (change)="setData('price', $event)"
  >
    <option selected hidden></option>
    <option *ngFor="let option of options.prices" [value]="option">
      {{ option }}
    </option>
  </select>
  <button (click)="goToFilter()">Filter</button>
</div>
